<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
<listeners>
<listener class-name="roshanAcademy.testComponents.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Submit Order Test">
    <classes>
     
   <class name="roshanAcademy.tests.SubmitOrderTest" />
    </classes>
  </test>
  <test name="Error Validations Test">
  <classes>
      <class name="roshanAcademy.tests.ErrorValidation"/>
  </classes></test> 
</suite> 
